.route-card {
  height: 280px;
  margin-top: 24px;
  &__item {
    display: flex !important;
    align-items: flex-end;
    border-radius: 12px;
    padding: 0 15px 15px 15px;
    height: 100%;
    width:100%;
    transition: 0.3s ease-in-out;
    & > a {
      max-width: 350px;
      width: 100%;
    }
    &:hover > div {
      background: transparent;
      box-shadow: inset 0 0 0 50px #cbcaca;
    }
  }
  &__content {
    border-radius: 8px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 16px;
    box-shadow: inset 0 0 0 0 #cbcaca;
    -webkit-transition: ease-out .8s;
    transition: ease-out .8s;
  }
  &__name {
    font-size: 16px;
    line-height: 24px;
    color: #2b394d;
  }
  &__price {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #005ee4;
    & > span {
      color: #005ee4;
    }
  }
}
