.action-item-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  padding: 0 15px 15px 15px;
  transition: 0.3s ease-in-out;
  &__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    max-width: 213px;
    width: 100%;
    color:#ffffff;
    padding-top: 100px;
  }
  &__text {
    margin-top: 8px;
    font-size: 18px;
    line-height: 28px;
    color:#FFFFFF;
  }
  &__link {
    margin-top: 32px;
    max-width: 205px;
    width: 100%;
    padding: 12px 20px;
    text-align: center;
    border-radius:7px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    background:#FFFFFF;
    & > span {
        color:#005EE4;
    }
    &:hover{
        background:none;
        box-shadow: 0px 0px 4px #FFFFFF;
        & > span {
            color:#FFFFFF;
        }
    }
  }
}
