.routes {
  padding: 48px 0;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
.routes-more {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 576px) {
  .routes{
    padding:24px 0;
    &__wrapper{
      flex-direction: column;
      align-items:flex-start;
    }
  }
  .slider-routes{
    margin-top: 16px;
  }
  .routes-more{
    margin-top: 16px;
    justify-content: flex-start;
  }
}
