.news {
    padding-top: 16px;
    padding-bottom: 72px;
    &__wrapper {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      gap: 0 32px;
    }
    &__content {
      max-width: 620px;
      width: 100%;
    }
    &__title {
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
      padding-top: 32px;
    }
    &__promo {
      max-width: 350px;
      width: 100%;
      padding-top: 74px;
    }
    &__more {
      color: #005ee4;
      margin-top: 24px;
      & > svg {
        fill: #005ee4;
      }
    }
    &__btn {
      margin-top: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #005ee4;
      font-size: 18px;
      line-height: 24px;
      transition: 0.3s ease-in-out;
      max-width: 170px;
      width: 100%;
      height: 48px;
      border: 1px solid #005ee4;
      border-radius: 6px;
      & > svg {
        right: 0px;
      }
      &:hover {
        color: #ffffff;
        background: #005ee4;
        & > svg {
          right: -2px;
          fill: #ffffff;
        }
      }
      &.disabled {
        opacity: 0.3;
        &:hover {
          background: none;
          color: #005ee4;
          & > svg {
            right: -2px;
            fill: #005ee4;
          }
        }
      }
    }
    &__icon {
      position: relative;
      fill: #005ee4;
      transform: rotate(90deg);
      top: 2px;
      left: 4px;
    }
  }
  .news-route {
    margin-top: 24px;
    height: 293px;
    &:first-child {
      margin-top: 32px;
    }
    &__item {
      display: flex !important;
      align-items: flex-end;
      border-radius: 12px;
      padding: 0 15px 15px 15px;
      transition: 0.3s ease-in-out;
      & > a {
        max-width: 350px;
        width: 100%;
      }
      &[data-item="1"] {
        background: url("../../icons/image/slide1.jpg") no-repeat;
        background-size: cover;
        background-position: center;
      }
      &[data-item="2"] {
        background: url("../../icons/image/slide2.jpg") no-repeat;
        background-size: cover;
        background-position: center;
      }
      &:hover > div {
        background: #cbcaca;
      }
    }
    &__content {
      border-radius: 8px;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 12px 16px;
    }
    &__name {
      font-size: 16px;
      line-height: 24px;
      color: #2b394d;
    }
    &__price {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: #005ee4;
      & > span {
        color: #005ee4;
      }
    }
  }
  @media (max-width: 991px) {
  }
  @media (max-width: 860px) {
  }
  @media (max-width: 768px) {
    .news {
      &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__btn {
        display: none;
      }
      &__promo {
        max-width: 620px;
        padding-top: 0;
      }
    }
    .news-route {
      &:first-child {
        margin-top: 24px;
      }
    }
  }
  @media (max-width: 650px) {
  }
  @media (max-width: 576px) {
    .news{
      padding-bottom: 24px;
      &__title{
        font-size: 24px;
        line-height: 32px;
      }
    }
    
    .news-route {
      height: 250px;
    }
  }
  @media (max-width: 480px) {
  }