.advantages {
  margin-top: 48px;
  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    max-width: 1200px;
    gap: 0 32px;
  }
  &__item {
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    align-items:flex-start;
    flex: 0 0 276px;
    border-radius: 12px;
    background: #ffffff;
    & > img{
      max-width: 40px;
    }
  }
  &__title {
    margin-top: 48px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
  &__text {
    margin-top: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
  }
  &__icon {
    max-width: 40px;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 991px) {
}
@media (max-width: 650px) {
}
@media (max-width: 600px) {
}
@media (max-width: 576px) {
  .advantages{
    &__title{
      font-size: 16px;
      line-height: 24px;
    }
    &__text{
      font-size: 14px;
      line-height: 20px;
    }
  }
}
@media (max-width: 480px) {
}
@media (max-width: 359px) {
}
