.actions {
  &__wrapper {
    border-radius: 12px;
    background: #005ee4;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 15%;
    justify-content: space-between;
    position: relative;
  }
  &__link {
    max-width: 204px;
    width: 100%;
    height: 48px;
    background: #ffffff;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #005ee4;
    font-weight: 500;
    line-height: 24px;
    transition: ease-out .8s;
    
    &:hover {
      background:transparent;
      color:#ffffff;
      box-shadow: inset 400px 50px 0 0 #2b394d;
    }
  }
  &__img {
    max-width: 326px;
  }
  &__img-desktop{
    display: block;
  }
  &__img-mobail{
    display: none;
  }
}
.actions-content {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }
  &__text {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
}
@media (max-width: 991px) {
  .actions {
    background: #005ee4;
    &__wrapper {
      background: none;
      padding-right: 50px;
    }
  }
}
@media (max-width: 768px) {
  .actions {
    &__wrapper {
      padding-top: 24px;
      padding-bottom: 16px;
      flex-direction: column;
      align-items: flex-start;
    }
    &__link {
      margin-top: 16px;
    }
    &__img-desktop{
      display: none;
    }
    &__img-mobail{
      display: block;
    }
    &__img {
      position: absolute;
      right: -12px;
      height: 149px;
      bottom: 0;
      & > img {
        height: 149px;
      }
    }
  }
}
@media (max-width: 576px) {
  .actions {
    &__link {
      margin-top: 16px;
    }
    &__wrapper{
      padding-left: 0;
      padding-right: 0;
    }
  }
  .actions-content {
    &__title {
      font-size: 24px;
      line-height: 32px;
    }
    &__text {
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      margin-top: 0;
    }
  }
}
@media (max-width: 359px) {
  .actions {
    &__img {
      position: absolute;
      right: -12px;
      height: 122px;
      bottom: 0;
      & > img {
        height: 122px;
      }
    }
  }
}
