.routes-tabs {
    display: inline-flex;
    align-items: center;
    border: 1px solid #9fb1c9;
    border-radius: 6px;
    background: #ffffff;
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 16px;
      font-size: 10px;
      line-height: 12px;
      font-weight: 500;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      background: none;
      color: #9fb1c9;
      transition: .3s ease-in-out all;
      &.active {
        color: #005ee4;
      }
      &:first-child {
        border-right: 1px solid #9fb1c9;
      }
      &:hover{
        background: #005ee4;
        color:#FFFFFF;
      }
    }
  }
  @media (max-width: 576px) {
    .routes-tabs{
      margin-top:16px;
    }
  }
